@utility btn {
  @apply plabs-title-medium-14 flex cursor-pointer items-center gap-2 rounded-md border p-3;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
  }
}

/* Size variants */
@utility btn-sm {
  padding-inline: theme(spacing.4);
  padding-block: theme(spacing.3);
  font-size: 12px;
}

@utility btn-lg {
  padding-inline: theme(spacing.5);
  padding-block: theme(spacing.4);
  font-size: 16px;
}

/* Primary button styles */
@utility btn-blue {
  @apply bg-blue-base plabs-title-medium-14 text-blue-0 border-blue-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition: background-color 0.3s ease;

  &:hover:enabled {
    @apply bg-blue-6;
  }

  &:active:enabled {
    @apply bg-blue-8;
  }

  &:disabled {
    @apply text-greyscale-1 bg-greyscale-5;
  }
}

@utility btn-red {
  @apply bg-red-base plabs-title-medium-14 text-red-0 border-red-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition: background-color 0.3s ease;

  &:hover:enabled {
    @apply bg-red-6;
  }

  &:active:enabled {
    @apply bg-red-8;
  }

  &:disabled {
    @apply text-greyscale-1 bg-greyscale-5;
  }
}

@utility btn-yellow {
  @apply bg-yellow-base plabs-title-medium-14 text-yellow-0 border-yellow-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition: background-color 0.3s ease;

  &:hover:enabled {
    @apply bg-yellow-6;
  }

  &:active:enabled {
    @apply bg-yellow-8;
  }

  &:disabled {
    @apply text-greyscale-1 bg-greyscale-5;
  }
}

@utility btn-green {
  @apply bg-primary-base plabs-title-medium-14 text-greyscale-0 border-primary-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition: background-color 0.3s ease;

  &:hover:enabled {
    @apply bg-primary-6;
  }

  &:active:enabled {
    @apply bg-primary-8;
  }

  &:disabled {
    @apply text-greyscale-1 bg-greyscale-5;
  }
}

@utility btn-lime {
  @apply bg-lime-base plabs-title-medium-14 text-greyscale-9 border-lime-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition: background-color 0.3s ease;

  &:hover:enabled {
    @apply bg-lime-6;
  }
  &:active:enabled {
    @apply bg-lime-8;
  }
  &:disabled {
    @apply text-greyscale-1 bg-greyscale-5;
  }
}

@utility btn-greyscale {
  @apply bg-greyscale-7 plabs-title-medium-14 text-greyscale-0 border-greyscale-5 flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition: background-color 0.3s ease;

  &:hover:enabled {
    @apply bg-greyscale-8;
  }

  &:active:enabled {
    @apply bg-greyscale-9;
  }

  &:disabled {
    @apply text-greyscale-1 bg-greyscale-5;
  }
}

/* Outline button styles */
@utility btn-outline-blue {
  @apply plabs-title-medium-14 text-blue-6 border-blue-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  &:hover:enabled {
    @apply border-blue-6 text-blue-6;
  }

  &:active:enabled {
    @apply border-blue-8 text-blue-8;
  }

  &:disabled {
    @apply text-greyscale-5 bg-greyscale-3;
  }
}

@utility btn-outline-red {
  @apply plabs-title-medium-14 text-red-6 border-red-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  &:hover:enabled {
    @apply border-red-6 text-red-6;
  }

  &:active:enabled {
    @apply border-red-8 text-red-8;
  }

  &:disabled {
    @apply text-greyscale-5 bg-greyscale-3;
  }
}

@utility btn-outline-yellow {
  @apply plabs-title-medium-14 text-yellow-6 border-yellow-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  &:hover:enabled {
    @apply border-yellow-6 text-yellow-6;
  }

  &:active:enabled {
    @apply border-yellow-8 text-yellow-8;
  }

  &:disabled {
    @apply text-greyscale-5 bg-greyscale-3;
  }
}

@utility btn-outline-green {
  @apply plabs-title-medium-14 text-green-6 border-primary-base flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  &:hover:enabled {
    @apply border-primary-6 text-primary-6;
  }

  &:active:enabled {
    @apply border-primary-8 text-primary-8;
  }

  &:disabled {
    @apply text-greyscale-5 bg-greyscale-3;
  }
}

@utility btn-outline-greyscale {
  @apply plabs-title-medium-14 text-greyscale-6 border-greyscale-5 flex cursor-pointer items-center gap-2 rounded-md border p-3;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;

  &:hover:enabled {
    @apply text-greyscale-7 border-greyscale-6;
  }

  &:active:enabled {
    @apply text-greyscale-8 border-greyscale-7;
  }

  &:disabled {
    @apply text-greyscale-5 border-greyscale-4;
  }
}

/* Text button styles */
@utility btn-text-blue {
  @apply plabs-title-medium-14 text-blue-base p-0;

  &:hover:enabled {
    @apply text-blue-6;
  }

  &:active:enabled {
    @apply text-blue-8;
  }

  &:disabled {
    @apply text-greyscale-5;
  }
}

@utility btn-text-red {
  @apply plabs-title-medium-14 text-red-base p-0;

  &:hover:enabled {
    @apply text-red-6;
  }

  &:active:enabled {
    @apply text-red-8;
  }

  &:disabled {
    @apply text-greyscale-5;
  }
}

@utility btn-text-yellow {
  @apply plabs-title-medium-14 text-yellow-base p-0;

  &:hover:enabled {
    @apply text-yellow-6;
  }

  &:active:enabled {
    @apply text-yellow-8;
  }

  &:disabled {
    @apply text-greyscale-5;
  }
}

@utility btn-text-green {
  @apply plabs-title-medium-14 text-primary-base p-0;

  &:hover:enabled {
    @apply text-primary-6;
  }

  &:active:enabled {
    @apply text-primary-8;
  }

  &:disabled {
    @apply text-greyscale-5;
  }
}
